!**/src/main/**
!**/src/test/**
/*/**/.gitignore

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.log
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw
mvnw.cmd
HELP.md
target
out
rebel.xml

# Eclipse Project Files 
.classpath
.project
.settings
.metadata
bin
tmp
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.externalToolBuilders
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders
.apt_generated
.apt_generated_test
.cache-main
.scala_dependencies
.worksheet

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### NetBeans ###
nbproject/private
build
nbbuild
dist
nbdist
.nb-gradle

node_modules

### VS Code ###
.vscode

# Build Artifacts 
.gradle
dependency-reduced-pom.xml
