<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.mybatis.dao.StudentDao">

    <resultMap type="com.ys.mybatis.domain.entity.Student" id="studentMap">
        <id property="studentId" column="student_id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="status" column="status"/>
        <result property="score" column="score"/>
    </resultMap>

    <sql id="StudentFields">
        student_id, name, gender, status, score
    </sql>

    <!--获取Student表的所有记录-->
    <select id="listAllStudent" resultMap="studentMap">
        SELECT
            <include refid="StudentFields" />
        FROM `student`
    </select>

    <!--通过主键获取Student表的一条记录-->
    <select id="getStudentById" resultMap="studentMap">
        SELECT
            <include refid="StudentFields" />
        FROM `student`
        WHERE student_id = #{studentId}
    </select>

    <!--查询Student表中是否存在符合查询条件的记录-->
    <select id="existStudent" resultType="java.lang.Integer">
        SELECT 1
        FROM `student`
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null and name != ''">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="score != null and score != ''">AND score = #{score}</if>
        </where>
        LIMIT 1
    </select>

    <!--获取一条符合查询条件的Student表记录-->
    <select id="getStudent" resultMap="studentMap">
        SELECT
            <include refid="StudentFields" />
        FROM `student`
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null and name != ''">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="score != null and score != ''">AND score = #{score}</if>
        </where>
        LIMIT 1
    </select>

    <!--获取Student表中符合查询条件的所有记录-->
    <select id="listStudent" resultMap="studentMap">
        SELECT
            <include refid="StudentFields" />
        FROM `student`
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null and name != ''">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="score != null and score != ''">AND score = #{score}</if>
        </where>
    </select>

    <!--在Student表中添加一条记录-->
    <insert id="insertStudent" keyProperty="studentId" useGeneratedKeys="true">
        INSERT INTO `student`
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="name != null and name != ''">name,</if>
            <if test="gender != null">gender,</if>
            <if test="status != null">status,</if>
            <if test="score != null and score != ''">score,</if>
        </trim>
        <trim prefix="VALUES (" suffixOverrides="," suffix=")">
            <if test="name != null and name != ''">#{name},</if>
            <if test="gender != null">#{gender},</if>
            <if test="status != null">#{status},</if>
            <if test="score != null and score != ''">#{score},</if>
        </trim>
    </insert>

    <!--在Student表中更新一条记录-->
    <update id="updateStudent">
        UPDATE `student`
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="status != null">status = #{status},</if>
            <if test="score != null and score != ''">score = #{score},</if>
        </set>
        WHERE student_id = #{studentId}
    </update>

    <!--通过主键删除Student表中的一条记录-->
    <delete id="deleteStudentById">
        DELETE FROM `student` WHERE student_id = #{studentId}
    </delete>

    <!--删除Student表中所有符合查询条件的记录-->
    <delete id="deleteStudent">
        DELETE
        FROM `student`
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null and name != ''">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="score != null and score != ''">AND score = #{score}</if>
        </where>
    </delete>

    <!--统计Student表中符合查询条件的记录条数-->
    <select id="countStudent" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `student`
        <where>
            <if test="studentId != null">AND student_id = #{studentId}</if>
            <if test="name != null and name != ''">AND name = #{name}</if>
            <if test="gender != null">AND gender = #{gender}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="score != null and score != ''">AND score = #{score}</if>
        </where>
    </select>

</mapper>